<div class="container">
  <div class="wrapper">
    <div class="contact">
      <p>Teste Consulting</p>
      <p>Rue de Monthoux, 52</p>
      <p>1201 Geneva</p>
      <br>
      <p>email: contact@testeconsulting.com</p>
      <br>
      <p>tel: +41 79 727 3030</p>
    </div>
    <div class="footer">
      Teste Consulting SARL - Rue de Monthoux 52, Geneva SWITZERLAND
    </div>
  </div>
</div>
