<div class="container">
  <div class="wrapper">
    <div class="home">
      <div>
        <h1>Teste Consulting</h1>
      </div>
      <!-- Section below is to add a typed.js animation -->
      <div>
        <div id="typed-strings">
          <p>Legal</p>
          <p>Financial</p>
          <p>Strategic</p>
        </div>
        <span id="typed"></span>
        <script>
          var typed = new Typed('#typed', {
            stringsElement: '#typed-strings',
            typeSpeed: 100,
            backSpeed: 50,
            backDelay: 2000,
            loop: true,
            showCursor: false
          });
        </script>
        <span> advisory.</span>
      </div>
    </div>
    <div class="footer">
      Teste Consulting SARL - Geneva SWITZERLAND
    </div>
  </div>
</div>

